.filter-control .range-widget-label {    
    float: left;
    margin-right: 5px;
}
.filter-control .cloudiness-slider,
.filter-control .angle-slider {
    display: inline-block;
}
.filter-control .angle-slider {
    margin-left: 10px;
}