[submodule "src/lib/ColorPicker"]
	path = src/lib/ColorPicker
	url = https://github.com/ScanEx/ColorPicker.git
[submodule "src/lib/DataGrid"]
	path = src/lib/DataGrid
	url = https://github.com/Scanex/DataGrid.git
[submodule "src/lib/EventTarget"]
	path = src/lib/EventTarget
	url = https://github.com/Scanex/EventTarget.git
[submodule "src/lib/IconSidebarControl"]
	path = src/lib/IconSidebarControl
	url = https://github.com/ScanEx/IconSidebarControl.git
[submodule "src/lib/LanguageWidget"]
	path = src/lib/LanguageWidget
	url = https://github.com/Scanex/LanguageWidget
[submodule "src/lib/Leaflet-IconLayers"]
	path = src/lib/Leaflet-IconLayers
	url = https://github.com/ScanEx/Leaflet-IconLayers.git
[submodule "src/lib/Leaflet.Panel"]
	path = src/lib/Leaflet.Panel
	url = https://github.com/Scanex/Leaflet.Panel.git
[submodule "src/lib/LoaderWidget"]
	path = src/lib/LoaderWidget
	url = https://github.com/ScanEx/LoaderWidget.git
[submodule "src/lib/NotificationWidget"]
	path = src/lib/NotificationWidget
	url = https://github.com/ScanEx/NotificationWidget.git
[submodule "src/lib/Object.Extensions"]
	path = src/lib/Object.Extensions
	url = https://github.com/ScanEx/Object.Extensions
[submodule "src/lib/Request"]
	path = src/lib/Request
	url = https://github.com/Scanex/Request.git
[submodule "src/lib/SliderWidget"]
	path = src/lib/SliderWidget
	url = https://github.com/Scanex/SliderWidget.git
[submodule "src/lib/Translations"]
	path = src/lib/Translations
	url = https://github.com/Scanex/Translations
[submodule "src/lib/TristateCheckbox"]
	path = src/lib/TristateCheckbox
	url = https://github.com/ScanEx/TristateCheckbox.git
[submodule "src/lib/Authentication"]
	path = src/lib/Authentication
	url = https://github.com/Scanex/Authentication.git
