.iconSidebarControl .iconSidebarControl-tab .sidebar-search,
.iconSidebarControl .iconSidebarControl-tab .sidebar-image,
.iconSidebarControl .iconSidebarControl-tab .sidebar-cart {   
    background-position: center; 
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    left: -4px;
    position: relative;
}
.iconSidebarControl .iconSidebarControl-tab .sidebar-search-active {
    background-image: url('search-active.png');
}
.iconSidebarControl .iconSidebarControl-tab .sidebar-search-passive {
    background-image: url('search-passive.png');
}
.iconSidebarControl .iconSidebarControl-tab .sidebar-image-active {
    background-image: url('image-active.png');
}
.iconSidebarControl .iconSidebarControl-tab .sidebar-image-passive {
    background-image: url('image-passive.png');
}
.iconSidebarControl .iconSidebarControl-tab .sidebar-cart-active {
    background-image: url('cart-active.png');
}
.iconSidebarControl .iconSidebarControl-tab .sidebar-cart-passive {
    background-image: url('cart-passive.png');
}