.disable-events {
    pointer-events: none;
}

.search-visibility-loading {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../../assets/results/loader.gif');
}

.search-visibility-failed {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../../assets/results/loader.gif');
}